body{
      background-image:url("/home/Sem6B10/Desktop/rose.jpeg");
      background-repeat:no-repeat;
      background-attachment:fixed;
      background-attachment:scroll;
     }
      h1{
        color:black;
        margin-left:40px;
       }
      p{
       color:purple;
       font-family:monospace; 
       font-size:large;
       font-weight:bolder; 
       direction:rtl;
       letter-spacing:5px; 
       text-align:right;
        
       }
      p1{
       color:red;
       font-family:monospace; 
       font-size:large; 
       font-weight:500;
       word-spacing:5px;
       text-indent:1cm; 
       text-decoration:overline;  
       }
       
       p2{
       color:black;
       font-family:monospace; 
       font-size:large; 
       font-weight:500;
       word-spacing:5px;
       text-indent:1cm; 
       text-transform:Uppercase;
       text-shadow:4px 6px 8px blue;
       }
     .shalini{color:green;}
      
  #a{ color:blue;
       font-family:monospace; 
       font-size:large; }
p{
border-style:solid;
border-width:4px 10px 4px 20px;
}
p{
border-top-style:dotted;
border-right-style:solid;
border-bottom-style:dotted;
border-left-style:solid;}
p3{
margin:25px 50px 75px 100px;
}
div{
width:300px;
margin:auto;
}
